/* generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* utils */

.container{
    min-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    background-color: goldenrod;
}

.container-small{
    height: 200px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    background-color: pink;
}

.container-normal{
    height: 350px;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.col1{
    height: 100%;
    width: 65%;
    background-color: blue;
}

.col2{
    height: 100%;
    width: 35%;
    background-color:pink;
}


header{
    width:100%;
    min-width: 1000px;
    background-color: aqua;
    min-height: 80px;
}

section{
    min-height: 400px;
    min-width:1000px;   
}

.flex{
    display: flex;
}


.debug{
    border: 2px dashed black;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.bg-color{
   background-color: blue; 
}

